* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
}

/* Nav part */

.nav {
  background-color: teal;
  width: 100vw;
  height: 17rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.logo {
  width: 10rem;
  background-color: grey;
  height: 8rem;
  transform: rotate(-35deg);
}
.nav__option {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav__option > * {
  padding: 1rem;
}
.nav__icon {
  width: 4rem;
  height: 4rem;
  background-color: grey;
  border-radius: 100%;
}
.nav__search > input {
  border: none;
  width: 13rem;

  background-color: #bada55;
  padding: 2rem;
}

/* Header */

header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 15rem;
  background-color: blueviolet;
}
.header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-basis: 100%;
}
.first_head {
  margin-right: 15rem;
  font-size: 4rem;
  color: black;
  background-color: white;
}

.right_head {
  justify-self: right;
  margin-right: 5rem;
  display: flex;
  align-items: center;
}

.square_head {
  width: 6rem;
  height: 6rem;
  border: 0.3rem solid white;
  border-radius: 1.5rem;
  background-color: brown;
  transform: rotate(-35deg);
}

.button_head {
  width: 12rem;
  height: 4rem;
  background-color: transparent;
  border: 0.2rem solid white;
  margin-left: 1.3rem;
}

/* Main-Section Grid */

.main__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;

  width: 100vw;
}

.grid-top {
  background-color: yellow;
  height: 60vh;
  display: flex;

  flex-direction: column;
}
.grid-width {
  margin: 10rem 15rem;
}
.grid-pic-container {
  display: flex;
  margin-bottom: 3rem;
  padding: 1rem;
}

.grid-title {
  font-size: 1rem;
  justify-content: center;
  align-items: center;
  display: flex;
}
.grid-title h2 {
  font-size: 3rem;
}

.grid-title span {
  margin-left: 1rem;
}

.grid-picture {
  width: 8rem;
  height: 8rem;
  background-color: grey;
  border-radius: 5px;
  margin-right: 3rem;
  transform: rotate(-20deg);
}

.grid-body {
  font-size: 4rem;
  font-weight: bold;
  word-spacing: 0.1rem;
  margin-bottom: 4rem;
  width: 70%;
}

.grid-tag {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin-bottom: 3rem;
}
.brown {
  background-color: brown;
}

.tag {
  font-size: 1.6rem;
}

/* Articles Section */

article {
  display: flex;
  width: 100%;
  height: 50rem;
  border: 1px solid red;
  background-color: yellowgreen;
}

article h1 {
  color: grey;
}

.articles_contain {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 3rem;
}

.article_top {
  padding-top: 1rem;
}

.article_top a {
  font-size: 2.5rem;
  font-weight: bolder;
  color: black;
}

.article_mid {
  padding-top: 2rem;
}

.article_mid span {
  font-weight: bolder;
  font-size: 2rem;
}

.article_bottom {
  padding-top: 2rem;
}

.article_bottom {
  padding-top: 2rem;
  font-size: 3rem;
}

.arrow {
  background-color: crimson;
  width: 6rem;
  height: 2rem;
  padding-top: 6rem;
}

/* Smash Container Grid */

.smash-grid {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr fr fr;
  height: 200vh;
  border: 1px solid red;
}

.smash-contain {
  background-color: grey;
  padding: 2rem;
}

.biglogo {
  width: 25rem;
  height: 25rem;
  background-color: tomato;
  margin: 0 auto;
  border-radius: 50%;
}

.red {
  background-color: red;
  color: white;
  text-align: center;
}

.latest_articles {
  width: 100%;
  text-align: center;
  height: 30rem;
  background-color: white;
}

/* Book COntainer */

.book-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: rgb(228, 220, 220);
}
.book {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.book__date {
  padding: 4rem;
  margin-top: 4rem;
  font-size: 2rem;
  text-align: center;
}

.book__ethical {
  padding: 3rem 3rem 1rem 3rem;
  font-size: 4rem;

  text-align: center;
}
.darkness {
  font-size: 4rem;
  text-align: center;
  margin-bottom: 3rem;
}

.book__details {
  font-size: 2.2rem;
  line-height: 4.5rem;
  word-spacing: 0.3rem;
}
.book__button {
  margin-top: 8rem;

  font-size: 2rem;
  border-radius: 10px;
  border: none;
  padding: 2rem 1rem;
  width: 50%;
  align-self: center;
  background-color: #eee;
}
.book-photo {
  width: 30rem;
  margin-top: 10rem;
  height: 30rem;
  align-self: center;
  background-color: cadetblue;
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
}

/* Person week */
.person_week {
  width: 100%;
  height: 32rem;
  background-color: white;
  display: flex;
  border: 1px solid red;
}

.square_contain {
  flex-basis: 35%;
  align-items: center;
  display: flex;
  transform: rotate(-25deg);
}

.person_square {
  width: 20rem;
  height: 20rem;
  margin: 0 auto;
  border-radius: 1.5rem;
  background-color: lime;
}

.person_text {
  width: 75%;
  border: 1px solid red;
  margin: 0 auto;
}

.person_text h1 {
  color: grey;
  font-size: 2rem;
  margin-bottom: 3rem;
  font-weight: lighter;
}

.person_text p {
  color: black;
  font-size: 1.5rem;
  margin-bottom: 3rem;
  line-height: 2rem;
}