* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
}

/* Nav part */

.nav {
  background-color: teal;
  width: 100vw;
  height: 17rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.logo {
  width: 10rem;
  background-color: grey;
  height: 8rem;
  transform: rotate(-35deg);
}
.nav__option {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav__option > * {
  padding: 1rem;
}
.nav__icon {
  width: 4rem;
  height: 4rem;
  background-color: grey;
  border-radius: 100%;
}
.nav__search > input {
  border: none;
  width: 13rem;

  background-color: #bada55;
  padding: 2rem;
}
